body {
    font-size: 24px;
}
.delay {
    width: 260px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
    padding: 0 12px;
    font-size: 24px;
    }

    .button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 280px;
    height: 60px;
    background: #cfcfcf;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #989898;
    padding: 8px 16px;
    font-family: 'Montserrat', sans-serif;
    border: none;
 
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 24px;
        align-items: left;
    }

    .delay-label {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    fieldset {
        width: 240px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }