/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');


.main-list {
  padding: 30px;
  font-size: 30px;
}

.back-link {
  padding: 20px;
}